body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    text-align:center;
    background-color:#f4f4f4;
}

h1{
    color:#1f4e79;
    margin-top:80px;
}

p{
    font-size:18px;
    color:#444;
}

button{
    padding:10px 20px;
    margin-top:20px;
    font-size:16px;
    cursor:pointer;
}